header {
  .hero-head {
    background-image: linear-gradient(#3C8B4E, #9CBC58);
    height: 30rem;
    color: white;

    .hero-body {
      // TODO: make it responsive
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .navbar-menu {
      margin: 0 1.5rem;

      .navbar-item {
        color: inherit;

        &:hover {
          background: unset;
        }
      }
    }
  }
}
