

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        logo will go there
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">
          <span class="icon">
            <i class="fas fa-user"></i>
          </span>
          <span>
            Community
          </span>
        </a>

        <a class="navbar-item">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          <span>
            About
          </span>
        </a>

        <a class="navbar-item">
          <span class="icon">
            <i class="fas fa-download"></i>
          </span>
          <span>
            Download
          </span>
        </a>

        <a class="navbar-item">
          <span class="icon">
            <i class="fas fa-file"></i>
          </span>
          <span>
            Documentation
          </span>
        </a>

        {{- range .Site.Menus.main }}
        <a class="navbar-item" href="{{ .URL | absLangURL }}" >
            <span class="icon">
            <i class="{{ .Faiconname }}"></i>
            </span>
            <span>
                {{ .Name }}
            </span>
        </a>
        {{ end }}
      </div>
    </div>
  </nav>